$primary_1 : rgb(215, 215, 235);
$primary_2 :   #00c3ff;
$primary_3 : rgb(161, 7, 7);
$secondry_1 : rgba(2, 2, 250, 0.89);
$secondry_2 : rgba(7, 163, 33, 0.89);
$textcolor : rgb(41, 39, 39);
$font : arial;
$fontsize : 1rem;
$font-style : italic;
$font-weight: bold;
